@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --bg-color: #2874f0;
}

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--bg-color);
    width: 100vw;
}

header nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
}

header nav img{
    width: 100px;
    height: 30px;
    padding-left: 7px;
}

header nav ul li{
    display: inline;
    padding: 0px 23px;    
}

nav ul li a:hover{
    color: rgb(94, 255, 102);
    font-weight:bolder;
    
}

nav ul li a{
    font-size: 23px;
    font-family: 'Zen Loop', cursive;
    color: rgb(212, 231, 193);
    text-decoration: none;
}

nav input{
    width: 253px;
    height: 26px;
    padding: 0 5px 0 2px;
    margin-left: 33px;
    margin-right: 3px;
}

nav button{
    font-family: 'Zen Loop', cursive;
}

main{
    background-color: white;
    height: calc(100vh - 12vh);
    width: 100vw;
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

main p{
    margin-bottom: 10px;
}

.slider{
    display: flex;
    justify-content: center;
}

.slider img{
    width:80vw;
    height: 35vh; 
    margin: 10px 0;
}

.card{
    width: 80vw;
    margin: auto;
    max-height: 37vh;
    display: flex;
    justify-content: space-evenly;
}

.card h2{
    font-family: 'Zen Loop', cursive;
}

.item{
    width: 120px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.item:hover{
    background-color: #2875f0d2;
    color: white;

}

.item-img{
    margin:5px auto;
    margin-bottom: 0;
}
.lines{
    font-size: 14px;
}

footer{
    background-color: var(--bg-color);
    height: 4vh;
    width: 100vw;
    color: white;
    font-family: 'Zen Loop', cursive;
}

